<form #formObj="ngForm" (submit)="onSubmit(formObj)">
    <div class="form-group">
        <label for="name">Name</label>
        <input required minlength="3" pattern="Nilesh" ngModel name="name" #ngModelObj="ngModel" (change)="log(ngModelObj)" id="name" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="ngModelObj.touched && ngModelObj.invalid">
            Name should be valid
            <div *ngIf="ngModelObj.errors.minlength">Name should be min {{ ngModelObj.errors.minlength.requiredLength }} char</div>
            <div *ngIf="ngModelObj.errors.pattern">Name should match pattern</div>
            <!-- <div *ngIf="ngModelObj.errors.required">Name is Required</div> -->
        </div> 
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" class="form-control" ngModel name="comment"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>