<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input required minlength="3" pattern="Nilesh" ngModel name="name" #ngModelValue="ngModel" (change)="log(ngModelValue)" id="name" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="ngModelValue.touched && ngModelValue.invalid">
            Name should be valid
            <div *ngIf="ngModelValue.errors.minlength">Name should be min {{ ngModelValue.errors.minlength.requiredLength }} char</div>
            <div *ngIf="ngModelValue.errors.pattern">Name should match pattern</div>
            <!-- <div *ngIf="ngModelValue.errors.required">Name is Required</div> -->
        </div> 
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>